.header{

    background-color: black;
    border-bottom:1px solid rgba(255, 255, 255, 0.37);
    padding: 0px 10px; 
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    height: auto;
    
}
a{
    text-decoration:none;
    color: white;
}
.linkbox,ul{
    padding:0;
    margin: 0;
    height:auto;   
}


.signup{
    font-size:1.1em;
    padding:8px;
    color: white;
    outline-style: none;
    border-style:none;
    border-radius: 10px;
    background-color:rgb(255, 27, 27);
    margin-bottom: 3px;
}
li{
    list-style-type:none;
    display :inline-block;
    padding: 10px;   
}

li:hover{
    /* background-color: slategrey; */
    transform-style: preserve-3d;
    transform:perspective(100px) scale(1.1);        
    
}

li span.badge{
    position: relative;
    top: -10px;
    padding:3px;
    background-color:red;
    border-radius:10px;
}

.logo a{
  color: red; 
}
.logotooltip,
.logotooltip2{
    position: relative;
}

.logotooltip::after,
.logotooltip2::after{
    display: none;
    position: absolute;
    right: -62px;top:0px;
    border: 2px solid yellow;
    background-color:yellow;
    border-radius: 20px 20px 20px 0px;
    color:black;
    padding:0px 2px;
    font-size: 14px;   
}

.logotooltip::after{
    content: "Register";
}
.logotooltip2::after{
    content: "Home";
    right: -52px;
}

.logotooltip:hover::after,
.logotooltip2:hover::after{
    display: block;
    
}

.box{
  margin-bottom: 10px;

}
.signup:hover{
    background-color:rgb(233, 28, 28);
}


@media (max-width:650px){
    .header{
        margin-bottom: 50px;
    }   

    .linkbox{
        position: absolute;
        top: 55px;
        right: 0;
        left: 0;
        width:100%;
        padding: 5px;
        text-align: center;       
    }

    
}